main {
    width: 450px;
    font-family: 'Enriqueta', serif;
    margin-left: auto;
    margin-right: auto;
  }

h1 {
    color: orangered
}

h2 {
    color: purple
}

ol {
    list-style-type: upper-roman;
  }

span {
    text-decoration: underline;
}

.pink {
    color: magenta;
}